# Ignore everything by default
*

# Then explicitly include what should be packaged
!src/
!src/db/
!src/db/*.ts
!src/utils/
!src/utils/*.ts
!src/*.ts

# Explicitly exclude test files and directories
src/tests
src/tests/
src/**/*.test.ts
src/**/*.spec.ts

# Include essential files
!README.md
!LICENSE
!package.json
